{% comment %}
** Custom HTML - dynamic **
- Draggable section
{% endcomment %}

{% comment %} Assign object as block or section {% endcomment %}
{% if type == 'block' %}
  {%- assign object = block -%}
{% else %}
  {%- assign object = section -%}
{% endif %}

{% comment %} Content settings {% endcomment %}
{%- assign html_content = object.settings.html_content -%}
{% comment %} End content settings {% endcomment %}

{% style %}
  #shopify-section-{{ object.id }} {
    padding-top: {{ object.settings.padding_top }}px;
    padding-bottom: {{ object.settings.padding_bottom }}px;
    padding-left: {{ object.settings.padding_left }}px;
    padding-right: {{ object.settings.padding_right }}px;
    {% if object.settings.width == 'wide' -%}
      width: 100%;
    {%- elsif object.settings.width == 'half' -%}
      width: 50%;
    {%- endif %}
  }
  {% render 'css-loop',
          css: object.settings.custom_css,
          id: object.id
  %}
{% endstyle %}

<section class="section {{ object.settings.css_class }}
                is-width-{{ object.settings.width }}
                {% if background_alpha != 0 or gradient_alpha != 0  %}
                  has-background
                {% endif %}
                "
          data-section-id="{{ section.id }}"
          {% if object.settings.animation != "none" %}
            data-scroll-class="{{ object.settings.animation }}"
          {% endif %}>
  {{ html_content }}
</section>
