<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
  {% render 'elevar-head' %}
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-923954985"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-923954985');
</script>
<script>
  gtag('event', 'page_view', {
    'send_to': 'AW-923954985',
    'value': 'replace with value',
    'items': [{
      'id': 'replace with value',
      'google_business_vertical': 'retail'
    }]
  })
</script>
  {% render 'elevar-head-listener' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>
  <body>
  {% render 'elevar-checkout-end' %}
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap mobileHeader">
        {{ content_for_logo }}
      </div>
      
    </header>
        <div class="chk-Checkout_Rewards">
        {{ settings.customText }}
        </div>
    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}



        {% if settings.breadcrumb %}
          <div class="bread-crumb">
             {% if content_for_layout contains 'data-step="contact_information"' %}
              <ul class="bc">
               <li class="bc_item bc_complete">Cart</li>
                <li class="bc_item bc_current">Information</li>
                <li class="bc_item">Shipping</li>
                <li class="bc_item">Payment</li>
                <li class="bc_item "> Review</li>
              </ul>
            {% elsif content_for_layout contains 'data-step="shipping_method"' %}
              <ul class="bc bc2">
                 <li class="bc_item bc_complete">Cart</li>
                <a href="/cart/checkout?step=contact_information" class="li-main">
                  <li class="bc_item bc_complete">Information</li>
                </a>
                <li class="bc_item bc_current">Shipping</li>
                <li class="bc_item">Payment</li>
                <li class="bc_item "> Review</li>
              </ul>
            {% elsif content_for_layout contains 'data-step="payment_method"' %}
              <ul class="bc bc3">
                 <li class="bc_item bc_complete">Cart</li>
                <a href="/cart/checkout?step=contact_information" class="li-main">
                  <li class="bc_item bc_complete">Information</li>
                </a>
                <a href="/cart/checkout?step=shipping_method" class="li-main">
                  <li class="bc_item bc_complete">Shipping</li>
                </a>
                <li class="bc_item bc_current">Payment</li>
                  <li class="bc_item "> Review</li>
              </ul>
            {% elsif content_for_layout contains 'data-step="review"' %}
              <ul class="bc bc3">
                <li class="bc_item bc_complete">Cart</li>
                    <a href="/cart/checkout?step=contact_information" class="li-main">
                      <li class="bc_item bc_complete"> Information</li>
                    </a>
                    <a href="/cart/checkout?step=shipping_method" class="li-main">
                      <li class="bc_item bc_complete"> Shipping</li>
                    </a>
                    <a href="/cart/checkout?step=payment_method" class="li-main">
                      <li class="bc_item bc_complete"> Payment</li>
                    </a
                    <a href="#" class="li-main">
                      <li class="bc_item bc_complete"> Review</li>
                    </a>
              </ul>
           {% endif %}
            </div>
        {% else %}
          {{ breadcrumb }}
       {% endif %}
            
          </header>
         
          <main class="main__content" role="main">
            {{ alternative_payment_methods }}
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
    <script>
      document.querySelector(".chk-Checkout_Rewards").addEventListener("click", () => {
    document.querySelector(".order-summary-toggle__text").click();
})
    </script>
  </body>
</html>
        {% style %}
          .main__content{
            padding-right: 2em;
          }
          .sidebar__content {
    padding-right: 3em;
}
          .sidebar{
             width: 50%;
          }
          .chk-Checkout_Rewards{
          display: none;
          }
.bc {
        margin: 15px 0 0;
        padding: 0px;
        list-style-type: none;
        width: 100%;
        max-width: 800px;
        height: 60px;
        counter-reset: breadcrumb;
        position: -webkit-sticky;
        position: absolute;
        top: -65px;
        background: transparent;
        z-index: 9;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .bc:before {
      position: absolute;
top: 102px;
left: 11.5%;
content: '';
width: 80%;
height: 0px;
background-color: white;
border-radius: 10px;
border: 1px solid transparent;
/*         background: {{ green }}; */
      }
       .bc2:before {
       background: linear-gradient(90deg, {{settings.bread_background}} 50%, #ffffff 50%) !important; 
      }
      .bc3:before {
       background: linear-gradient(90deg, {{settings.bread_background}} 100%, #ffffff 0%) !important; 
      }
      .li-main{
        width: 20%
      }
      .li-main li{
        width: 100% !important
      }
      .bc .bc_item {
        float: left;
        padding-top: 50px;
        width: 20%;
        text-align: center;
        position: relative;
        color: #737373;
        font-family: Roboto,sans-serif;
        font-size: {{settings.fontSize}}px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        display: flex;
    align-items: center;
    justify-content: center;
      }
      .bc .bc_item:after {
        counter-increment: breadcrumb;
        content: counter(breadcrumb);
        position: absolute;
        top: 70px;
        left: calc(40% - 4px);
        width: 30px;
        height: 30px;
        text-align: center;
        border: 3px solid {{settings.bc_bg_border}};
        border-radius: 50%;
        line-height: 20px;
        font-size: 18px;
        background: {{settings.bc_bg}};
        align-items: center;
        display: flex;
        justify-content: center;
        color: {{settings.bread_color}};
      }
      .bc .produkte-cart:after {
        content: '' !important;
        background-image: url(https://cdn.shopify.com/s/files/1/0499/9659/5366/files/french-knife.png?v=1665421140) !important;
        background-size: 22px !important;
        background-repeat: no-repeat !important;
        background-position: 2px !important;
        width: 30px !important;
        height: 30px !important;
        line-height: 30px !important;
        left: calc(50% - 15px) !important;
        top: -7px !important;
      }
      .bc .bc_current:after {
        background: {{settings.currentPage}};
        border-color: {{settings.bc_bg_border}};
        color: white;
      }
      .bc .bc_complete:after {
        background: {{ settings.bread_background }};
        color: {{ settings.bread_color }};
        
      }
    .main .logo {
            display: block;
        }
    .sidebar__header{
      display: none !important;
    }
     .page--logo-sidebar .banner {
       background-color: {{  settings.headerBgColor }};
        }
          .bc_current, .bc_complete{
        font-weight: 700 !important;
      }
       @media screen and (min-width: 1000px){
     .wrap {
    padding: 0px 40px;
    width: 96%;
    max-width: 1440px;
}
         .main__header {
   margin-bottom: 4em;
    background-color: {{  settings.headerBgColor }};
  padding-bottom: 3rem;
           position: relative;
}
         .main__header:after {
    content: "";
    position: absolute;
    top: 0;
    right: calc(100% - 1px);
    bottom: 0;
    z-index: -1;
    display: block;
    width: 300%;
    background-color: {{  settings.headerBgColor }};
}
         .bread-crumb{
           position: relative;
         }
         .main {
    
    width: 50%;
    padding-right: 0%;
    float: left;
}
         .bc {
       
        position: absolute;
         }
         .page--no-banner .main{
            padding-top: 0em;
         }
       }
      @media screen and (max-width:500px) {
        .bc {
    width: 100% !important;
    max-width: 800px;
    top: 15px;
    left: 0;
}
        .bc .bc_item {font-size:12px;}
        .iti__country-list {width: 300px;}
        
      }
      
      @media screen and (max-width:999px) {
        .main__content{
            padding-right: 0;
          }
        .sidebar__content {
    padding-right: 0;
}
        .sidebar{
             width: 100%;
          }
        .chk-Checkout_Rewards{
          display: block;
          width: 100%;
          text-align: center;
          padding: 10px 10px;
          margin: 25px auto 0;
          background: {{  settings.headerBgColor }};
        }
        .bc {
          width: 50%;
          max-width: 800px;
            top: 15px;
          right: 200px;
        }
        .bc .bc_item {
          font-size:12px;
        }
        .bc:before {
        border: 1px solid transparent;
/*         background: {{ green }}; */
      }
        .bc .bc_item:after {
          width: 30px;
          height: 30px;
          font-size: 15px;
         border: 2px solid {{settings.bc_bg_border}};
      }
        .main .logo {
    display: none;
}
        .mobileHeader{
        margin-bottom: 30px;
        max-width: 100%;
          
        }
        .logo--center {
    border-bottom: 2px solid #fff;
}
        
      }
          @media screen and (max-width:600px) {
            .bc {
              right: 150px;
            }
          }
      
          
        {% endstyle %}